<%- include('partials/header'); -%>

<form action="/saveQuestion">
  <h2>Save Question</h2>
  <label for="name">Name</label>
  <input type="text" name="name" required />
  <!-- <label for="topic">Topic</label>
  <input type="text" name="topic" required /> -->
  <label for="topic">Topic</label>
  <select name="topic" id="topic">
    <% if (topics.length > 0) { %>
      <% topics.forEach((topic) =>  { %>
        <option value = "<%= topic.name %>"><%= topic.name %></option>
      <% }) %>
      <% } %>
    <!-- <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option> -->
  </select>
  <div class="name error"></div>
  <label for="link">Link</label>
  <input type="text" name="link" required />
  <div class="link error"></div>
  <button>Save</button>
</form>

<%- include('partials/footer'); -%>

<script>
  const form = document.querySelector('form');
  const emailError = document.querySelector('.email.error');
  const passwordError = document.querySelector('.password.error');

  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    // reset errors
    emailError.textContent = '';
    passwordError.textContent = '';

    // get values
    const email = form.email.value;
    const password = form.password.value;

    try {
      const res = await fetch('/signup', { 
        method: 'POST', 
        body: JSON.stringify({ email, password }),
        headers: {'Content-Type': 'application/json'}
      });
      const data = await res.json();
      console.log(data);
      if (data.errors) {
        emailError.textContent = data.errors.email;
        passwordError.textContent = data.errors.password;
      }
      if (data.user) {
        location.assign('/');
      }

    }
    catch (err) {
      console.log(err);
    }

  });
</script>